<div class="row">
  <div class="col-12">
    <h1>Wago AllFonts</h1>
    <hr />
  </div>
</div>
<div class="row">
  <div class="form-group">
    <label for="text">
      New font:
    </label>
    <input type="text" [(ngModel)]="newFont" class="form-control" />
  </div>
  <div class="form-group">
    <label for="file">WeakAuras LUA file:</label>
    <input type="file" class="form-control" *ngIf="newFont" (change)="processFile($event)" accept=".lua" />
  </div>
  <div class="form-group">
    <a class="btn btn-success" *ngIf="downloadUrl" [href]="downloadUrl">Download</a>
  </div>
</div>